body {
  background-image: url('../images/giphy (3).gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  text-align: center;
}

ul.grid {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 600px;
  height: 600px;
}

li {
  border-radius: 20px;
  width: 94px;
  height: 94px;
  border: 1px solid black;
  float: left;
  list-style: none;
  color: #fff;
  text-align: center;
}

.cardImage {
  border-radius: 20px;
  width: auto;
  height: 94px;
  max-width: 94px;
  text-align: center;
}

button {
  margin-bottom: 10px;
}
