body {
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  text-align: center;
}

ul {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 600px;
  height: 600px;
  margin-top: 16px;
}

li {
  border-radius: 20px;
  width: 94px;
  height: 94px;
  border: 2px solid #B0C4DE;
  float: left;
  list-style: none;
  color: #fff;
  text-align: center;
  margin: 1px;
}

#score {
  font-family: 'Chewy', cursive;
}

li:hover {
  background-image: url('../images/icon.ico');
  background-size: cover;
  opacity: 0.6;
}

.cardImage {
  border-radius: 20px;
  width: auto;
  height: 94px;
  max-width: 94px;
  text-align: center;
}

a {
  margin-top: 8px;
}

p {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Chewy', cursive;
  margin-top: -14px;
}

h1 {
  font-size: 26px;
  font-family: 'Chewy', cursive;
  margin-bottom: -20px;
}

h2 {
  font-family: 'Chewy', cursive;
  margin-top: 24px;
  font: 22px;
}

.myButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:20px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family: 'Chewy', cursive;
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}
